<!DOCTYPE html>
<html>
  <head>
    <title>image</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Upload Image</h1>
    <p>Welcome to App</p>
    <br><br>
    <h2> <%= text %> </h2>
    <img src='<%= image %>' style="width: 200px; height: 200px;" />
  </body>
</html>
